
@{
  Layout = "_Layout";
}

<div class="danger">
  <h3>You have successfully cleard the things database. Your database is now empty.</h3>
</div>
  <a href="/"> <button class="btn btn-lg btn-info">Home</button></a>
