@using ToDoList.Models;

@{
  Layout = "_Layout";
}
<h3>Your ToDoList by Category</h3>
<div class="row">
  <div class="col-md-3">
    <ol>
    @foreach(Category category in Model)
    {
      <li>
      @Html.ActionLink(@category.GetName(), "ShowTasksInCategory", new {categoryId = @category.GetId()})
      </li>
    }
  </ol>
  </div>
  <div class="col-md-3">

  </div>
  <div class="col-md-3">
    <a href="/"><button class="btn btn-lg btn-info">Home</button></a>
  </div>
</div>
